<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="mb-4">
      <h1 class="h3 mb-1">タスク編集</h1>
      <p class="text-body-secondary mb-0">タスクの内容やステータスを更新できます。</p>
    </div>

    <div class="border rounded p-4">
      <%= render "form" %>
    </div>
  </div>
</div>
